*{
   margin: 0;
    padding: 0;
}
body {
    background-color: #7B66F;
    color:  #6096B4;
    background-image: url(https://kartinki.pics/uploads/posts/2022-12/1669917372_1-kartinkin-net-p-fon-fortnait-oboi-1.jpg);
}
header {
    text-align: center;
}
main img {
    height: 50px;
    width: 75px;
}
.table td{
    padding: 10px;
}
.table tr{
    border:1px  green;
    background-color:Olive;
}
main{
    background-color: #5FDFF;
}
footer{
    background-color: #C5FFF;
}
header {
    background-color: #BDCDD6;
    padding: 15PX;
}
a{
    text-decoration: none;
    background-color: #93BFCF;padding: 5px;border-radius: 10px;
}
main{
   padding: 3px; 
   border-radius: 15px;
   
}
main {
    padding-top: 40px;
text-align: center;
}
main h2{
    margin-bottom: 10px;
}
table{
   margin: 50px auto;

 
}
.gallery-img{
    width: 30%;
    height: 100px;
    object-fit: cover;
}
footer {
    background-color: #BDCDD6;
    padding: 15PX;
}
footer h1{
    text-align: center;
}
body img {
    border-radius: 100px;
}
table img{
  border-radius:17px  
}
.small-image{
    width: 200px;
    height: 100px;
}
h4{
    color: red;
}
main{
color: rgb(255, 80, 80);
}
footer{
    color: darkgreen;
}
h1 {
    font-size: 100;
}
footer{
  text-align: center;
}   
footer img {
     width: 50px;
    height: 50px;
 
}
h3 {
      padding: 25PX;
    font-size: 100;


}
h3{
        font-size: 50px;

}
footer img{
     border:50px  green;
   border-radius: 15px;

}
.small-image{
        border:10px  green solid;
   border-radius: 50px;
}
